<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin page</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="header row">

  <div class="header__left-part row">
    <div class="header__home-button button">
      <a href="/">Home</a>
    </div>
    <div class="header__admin-button button" th:if="${isAdmin}">
      <a href="/admin">Admin</a>
    </div>
  </div>
  <div class="header__right-part row">
    <div class="header__logout">
      <form th:action="@{/logout}" th:method="post">
        <button type="submit" value="logout">Logout</button>
      </form>
    </div>
  </div>

</div>

<div class="content">
  <h1>Admin page</h1>


  <h3>Grant admin role</h3>
  <form th:action="@{/admin/grant}" th:method="post">
    <label for="usernameToGrant">Username</label>
    <input type="text" id="usernameToGrant" name="username">
    <input type="submit" value="Grant">
  </form>
  <p th:if="${grantResult}" th:text="${grantResult}">Text</p>

  <br/><br/>

  <h3>Deprive admin role</h3>
  <form th:action="@{/admin/deprive}" th:method="post">
    <label for="usernameToDeprive">Username</label>
    <input type="text" id="usernameToDeprive" name="username">
    <input type="submit" value="Deprive">
  </form>
  <p th:if="${depriveResult}" th:text="${depriveResult}">Text</p>

</div>


</body>
</html>