<html>
    <head>
        <title>Registration</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="container">
            <h3>Registration form</h3>
            <form th:action="@{/register}" th:method="post" th:object="${user}">

                <p th:if="${registerError}" th:text="${registerErrorMessage}"></p>

                <label for="username">Username</label>
                <input type="text" th:field="*{username}" id="username" />
                <br/>
                <label for="password">Password</label>
                <input type="password" th:field="*{password}" id="password"/>
                <br/>
                <label for="passwordConfirmation">Confirm password</label>
                <input type="password" th:field="*{passwordConfirmation}" id="passwordConfirmation"/>
                <br/>
                <input type="submit" value="Register">
            </form>
        </div>
    </body>
</html>